<br>
<hr>
<br>
<strong>{{encabezado}}</strong>
<br>
<p>Cadena Original: {{encabezado|default:"Seccion sin titulo"}}<p>
<p>Uso de Join: {{encabezado|join:'-'}}</p>
<p>Tamaño de la cadena: {{encabezado|length}}</p>
<p>Mayuscula: {{encabezado|upper}}</p>
<p>Minuscula: {{encabezado|lower}}</p>
<p>Contador de palabras: {{encabezado|wordcount}}</p>
<p>{{encabezado}}</p>
<p>{{encabezado}}</p>
<br>
<p>Lista Original: {{estudiantes}}</p>
<p>Uso de Join: {{estudiantes|join:','}}</p>
<p>Primero de la lista: {{estudiantes|first}}</p>
<p>Ultimo de l alista: {{estudiantes|last}}</p>
<p>tamaño de la lista: {{estudiantes|random}}</p>
<p>Escoger aleatoriamenteun elemento de la lista: {{estudiantes|length}}</p>